@import "base.css";

body
{
	font-family: Helvetica, Arial;
	background: #fbfdf0;
	color: #000;
}

h3
{
    font-size: 1em;
    font-weight: normal;
}

h4
{
    color: #00338D;
    font-weight: normal;
    font-size: .75em;
}

h5
{
    margin: 0;
    padding: 0;
    font-size: .8em;
    font-weight: normal;
}

body > ul > li,
ul.list-content > li
{
    font-weight: normal;
}

body > ul > li span,
ul.list-content > li span
{
    /* font-size: .8em; */
}


body > .toolbar {
    border-bottom: 1px solid #3c4f18;
    border-top: 1px transparent #3c4f18;
    background-color: #c0d298;
    /* was 0,39,39,100 */
    background-image: linear-gradient(
        center top,
        #dae6c6 0%,
        #d1e0b7 50%,
        #cbdcae 50%,
        #c1d59f 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #dae6c6),
        color-stop(0.50, #d1e0b7),
        color-stop(0.50, #cbdcae),
        color-stop(1, #c1d59f)
    );
    background-image: -moz-linear-gradient(
        center top,
        #dae6c6 0%,
        #d1e0b7 50%,
        #cbdcae 50%,
        #c1d59f 100%
    );
    box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;    
}

.toolbar > h1
{
	color: #000;
    text-shadow: #fff 0px 1px 0px;
}

.toolbar > .button
{
    box-shadow: rgba(255,255,255,0.75) 0px 0px 3px inset;
    -moz-box-shadow: rgba(255,255,255,0.75) 0px 0px 3px inset;
    -webkit-box-shadow: rgba(255,255,255,0.75) 0px 0px 3px inset;
}

body > ul,
body > div.list
{
    background: #fff;
}

.dialog .toolbar > h1
{
    color: #000;
	text-shadow: rgba(255, 255, 255, 1) 1px 1px 0;
}

.dialog > fieldset
{
	border-bottom: 1px solid #2d3642;
    border-top: 1px solid #6d84a2;
    background-color: #e6e6e6;
    background-image: linear-gradient(top, #e6e6e6, #aaaaaa);
    background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #e6e6e6),
		color-stop(1, #aaaaaa)
	);  
	background-image: -moz-linear-gradient(top, #e6e6e6, #aaaaaa);
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.dialog > fieldset > hr
{
    display: block;
    width: 100%;
    border-style: inset;
    border-color: #eeeeee;
}

.dialog > fieldset > label
{
    color: #999999;
}

.panel
{
    border-bottom: solid 1px #ddd;
}

.panel-content > h2
{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    background-color: #e6e6e6;
    background-image: linear-gradient(top, #e6e6e6, #cccccc);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #e6e6e6),
        color-stop(1, #cccccc)
    );
    background-image: -moz-linear-gradient(top, #e6e6e6, #cccccc);
    box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    color: #000;
    text-shadow: #fff 0px 1px 0px;
    font-weight: bold;
}

.panel-validation-summary > h2
{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    background-color: #de6464;
    background-image: linear-gradient(top, #de6464, #b33737);
    background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #de6464),
		color-stop(1, #b33737)
	);
	background-image: -moz-linear-gradient(top, #de6464, #b33737);
    box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    color: #fff;
    text-shadow: #000 0px 1px 0px;
    font-weight: bold;
}

.panel-content > h2:first-child,
.panel-validation-summary > h2:first-child    
{
    border-top: none 0 black;
}

.panel-form-error > .panel-content > h2:first-child
{
    border-top: 1px solid #000;
}

.panel > fieldset,
.panel-content > fieldset,
.panel-validation-summary > fieldset
{
    border: none 0px black;
    background-color: #fff;  
}

input:focus,
textarea:focus
{
	outline: none;
	background-color: #fff; /* #FDFFDD */;
}

.panel-content > ul,
.panel-validation-summary > ul
{
    border: none 0px black;
    background-color: #fff;    
}

.panel-content > ul > li,
.panel-validation-summary > ul > li
{
    border-bottom: solid 1px #ddd;
    cursor: pointer;
}

.panel-content > ul > li:last-child,
.panel-validation-summary > ul > li:last-child
{
    border-bottom: none 0 black;
}

.panel-content > ul a,
.panel-validation-summary > ul a
{
    color: inherit;
    text-decoration: none;
}

.panel-content > fieldset > .row
{
    padding: .25em;
    min-height: 1.5em;
    border-bottom: solid 1px #ddd;
}

.panel-content > fieldset > .row:last-child
{
    border-bottom: none 0px black;
}

.panel-content > fieldset > .row > label
{
    font-weight: bold;    
    color: #00338D;
}

.panel-content > fieldset > .row-edit > textarea
{
    font-family: Helvetica, Arial;
    font-size: 16px;
}

.panel-content > fieldset >.row-edit > input:focus,
.panel-content > fieldset >.row-edit > textarea:focus
{
    box-shadow: 0 0 5px #f0ac55 !important;
    -webkit-box-shadow: 0 0 5px #f0ac55 !important;
    -moz-box-shadow: 0 0 5px #f0ac55 !important;
}

.panel-content > fieldset > .row-edit
{
    border-bottom: solid 1px #ddd;
}

.panel-content > fieldset > .row-edit:last-child
{
    border-bottom: none 0 black;
}

.button 
{
    display: block;
    
	color: #000;
	text-align: center;
	text-decoration: none;
    text-shadow: #eaf1df 0px 1px 0px;

	font-weight: bold;
	font-size: .8em;

    border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    border-style: solid;
    border-width: 1px;
    border-color: #a5b183;

    cursor: pointer;

    background-color: #eaf1df;
    /* was 0,32,32,100 */
    background-image: linear-gradient(
        center top,
        #eaf1df 0%,
        #d6e3bf 50%,
        #c1d59f 50%,
        #d6e3bf 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #eaf1df),
        color-stop(0.50, #d6e3bf),
        color-stop(0.50, #c1d59f),
        color-stop(1, #d6e3bf)
    );
    background-image: -moz-linear-gradient(
        center top,
        #eaf1df 0%,
        #d6e3bf 50%,
        #c1d59f 50%,
        #d6e3bf 100%
    );
    box-shadow: rgba(255,255,255,1.0) 0px 0px 1px inset;
    -moz-box-shadow: rgba(255,255,255,1.0) 0px 0px 1px inset;
    -webkit-box-shadow: rgba(255,255,255,1.0) 0px 0px 1px inset;

    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.button:active
{
    background-color: #d6e3bf;
    background-image: linear-gradient(
        center top,
        #eaf1df 0%,
        #d6e3bf 100%,
        #c1d59f 100%,
        #d6e3bf 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #eaf1df),
        color-stop(1, #d6e3bf),
        color-stop(1, #c1d59f),
        color-stop(1, #d6e3bf)
    );
    background-image: -moz-linear-gradient(
        center top,
        #eaf1df 0%,
        #d6e3bf 100%,
        #c1d59f 100%,
        #d6e3bf 100%
    );
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.blueButton
{
    color: #fff;
    text-shadow: #000 0px 1px 0px;
    border-color: #000;
    background-color: #2ca0d1;
    background-image: linear-gradient(top, #2ca0d1, #07a);
    background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #2ca0d1),
		color-stop(1, #07a)
	);
	background-image: -moz-linear-gradient(top, #2ca0d1, #07a);
}

.blueButton:active
{    
    background-color: #07a;
    background-image: linear-gradient(bottom, #2ca0d1, #07a);
    background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #2ca0d1),
		color-stop(1, #07a)
	);
	background-image: -moz-linear-gradient(bottom, #2ca0d1, #07a);
}

.redButton
{
    color: #fff;
    text-shadow: #000 0px 1px 0px;
    border-color: #000;
    background-color: #de6464;
    background-image: linear-gradient(top, #de6464, #b33737);
    background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #de6464),
		color-stop(1, #b33737)
	);
	background-image: -moz-linear-gradient(top, #de6464, #b33737);
}

.redButton:active
{
    background-color: #b33737;
    background-image: linear-gradient(bottom, #de6464, #b33737);
    background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #de6464),
		color-stop(1, #b33737)
	);
	background-image: -moz-linear-gradient(bottom, #de6464, #b33737);
}

.whiteButton
{
    color: #000;
    text-shadow: #fff 0px 1px 0px;
    border-color: #000;
    background-color: #e6e6e6;
    background-image: linear-gradient(top, #e6e6e6, #cccccc);
    background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #e6e6e6),
		color-stop(1, #cccccc)
	);
	background-image: -moz-linear-gradient(top, #e6e6e6, #cccccc);

    box-shadow: rgba(255,255,255,1.0) 0px 0px 1px inset;
    -moz-box-shadow: rgba(255,255,255,1.0) 0px 0px 1px inset;
    -webkit-box-shadow: rgba(255,255,255,1.0) 0px 0px 1px inset;
}

.whiteButton:active
{
    background-color: #cccccc;
    background-image: linear-gradient(bottom, #e6e6e6, #cccccc);
    background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #e6e6e6),
		color-stop(1, #cccccc)
	);
	background-image: -moz-linear-gradient(bottom, #e6e6e6, #cccccc);
}

.lightGreenButton
{
    color: #000;
    text-shadow: #fff 0px 1px 0px;
    border-color: #000;

    background-color: #d6e3bf;
    background-image: linear-gradient(
        center top,
        #d6e3bf 0%,
        #c1d59f 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #d6e3bf),
        color-stop(1, #c1d59f)
    );
    background-image: -moz-linear-gradient(
        center top,
        #d6e3bf 0%,
        #c1d59f 100%
    );

    -moz-box-shadow: rgba(255,255,255,1.0) 0px 0px 1px inset;
    -webkit-box-shadow: rgba(255,255,255,1.0) 0px 0px 1px inset;
}

.lightGreenButton:active
{
    background-color: #c1d59f;
    background-image: linear-gradient(
        center bottom,
        #d6e3bf 0%,
        #c1d59f 100%
    );
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #d6e3bf),
        color-stop(1, #c1d59f)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #d6e3bf 0%,
        #c1d59f 100%
    );
}