/* fixes */
/* http://code.google.com/p/android/issues/detail?id=6059 */
a.android-6059-fix
{
    text-decoration: none;
    display: block;
    overflow: hidden;
    color: transparent;
    height: 1px;
    width: 1px;
    cursor: default;
}

/* list view */
.list
{
    
}

.list-content > li
{
    cursor: pointer;
}

.list-search .dismissButton
{
    display: none;
}

.list-more
{
    display: none;
    padding: 12px;
    border-bottom: 1px solid #DDD;
}

.list-more .button
{
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.list-more .list-remaining
{
    display: none;
}

.list-loading-indicator
{
    display: none;
}

/* list view states */
.list-search-active label
{
    display: none;
}

.list-search-active .dismissButton
{
    display: block;
}

.list-has-more .list-more
{
    display: block;
}

.list-has-more .list-remaining
{
    display: block;
    text-align: center;
    padding: 0px 0 12px 0;
    font-size: .8em;
    font-weight: bold;
}

.list-loading .list-more .lightGreenButton span
{
    background: url('../images/loading-indicator-gray.gif') no-repeat scroll 0 50%;
    padding: 0 0 0 20px;
    color: #555;
}

.list-loading .list-loading-indicator
{
    display: block;
    text-align: center;
}

.list-loading .list-loading-indicator div
{
    background: url('../images/loading-indicator-white.gif') no-repeat scroll 0 50%;
    padding: 0 0 0 20px;
	display: inline-block;
    text-align: center;
}

/* detail veiw */
.panel fieldset.panel-loading-indicator div.row > div
{
	background: url('../images/loading-indicator-white.gif') no-repeat scroll 0 50%;
    display: inline-block;
	padding: 0 0 0 20px;
}

.panel fieldset.panel-loading-indicator div.row
{
	text-align: center !important;
	padding: 1em !important;
	min-height: 1em !important;
}

/* floating toolbar */
body > div.toolbar-float[open],
body[orient] > div.toolbar-float[open]
{
	background-image: url('../images/arrow-right-black.png'), -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #e6e6e6),
		color-stop(1, #cccccc)
	);
	background-image: url('../images/arrow-right-black.png'), -moz-linear-gradient(top, #e6e6e6, #cccccc);

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.toolbar-float
{
	background-image: url('../images/arrow-left-black.png'), -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #e6e6e6),
		color-stop(1, #cccccc)
	);
	background-image: url('../images/arrow-left-black.png'), -moz-linear-gradient(top, #e6e6e6, #cccccc);

	background-position: 6px center, top left;
	background-repeat: no-repeat, no-repeat;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;

    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;

    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: #000;
    cursor: pointer;

    color: #000;

    text-shadow: rgba(255,255,255,1) 1px 1px 0;

    -moz-box-shadow: rgba(255,255,255,0.25) 0px 25px 1px inset, rgba(255,255,255,1.0) 0px 0px 1px inset, rgba(255,255,255,0.6) 0px 1px 1px inset, rgba(0,0,0,0.75) 0px 0px 4px;
    -webkit-box-shadow: rgba(255,255,255,0.25) 0px 25px 1px inset, rgba(255,255,255,0.6) 0px 1px 1px inset, rgba(0,0,0,0.75) 0px 0px 4px;
}

.toolbar-float-container
{
    height: 46px;
}

.toolbar-float-container a
{
    color: #fff;
    display: block;
}

.toolbar-float-container a span
{
    display: none;
}

/* busy */
.dialog.busy .button.actionButton span,
.toolbar.busy .button.actionButton span,
.panel.busy .button.actionButton span
{
	background: url('../images/loading-indicator-green.gif') no-repeat scroll 0 50%;
	padding: 0 0 0 20px;
}

.dialog.busy .whiteButton.actionButton span,
.toolbar.busy .whiteButton.actionButton span,
.panel.busy .whiteButton.actionButton span
{
	background: url('../images/loading-indicator-gray.gif') no-repeat scroll 0 50%;
	padding: 0 0 0 20px;
}

.dialog.busy .blueButton.actionButton span,
.toolbar.busy .blueButton.actionButton span,
.panel.busy .blueButton.actionButton span
{
	background: url('../images/loading-indicator-blue.gif') no-repeat scroll 0 50%;
	padding: 0 0 0 20px;
}

.dialog.busy .redButton.actionButton span,
.toolbar.busy .redButton.actionButton span,
.panel.busy .redButton.actionButton span
{
	background: url('../images/loading-indicator-red.gif') no-repeat scroll 0 50%;
	padding: 0 0 0 20px;
}

/* fields */
.row-edit.field-disabled > a
{
    opacity: 0.3;
    cursor: default;
}

.row-edit[data-field-type="picklist"] > a,
.row-edit[data-field-type="lookup"] > a,
.row-edit[data-field-type="select"] > a,
.row-edit[data-field-type="address"] > a,
.row-edit[data-field-type="name"] > a,
.row-edit[data-field-type="date"] > a,
.row-edit[data-field-type="note"] > a
{
    margin: 0;
    padding: 0 8px;
    position: absolute;
    right: 12px;
    width: 24px;
}

/* TODO: Move color specifics to theme folder */
/* Calendar */
.calendar-table
{
    width: 98%;
    margin: 0 auto;
}

.calendar-table .calendar-month-header,
.calendar-table .calendar-week-header
{
    font-weight: bold;
}

.calendar-table .calendar-day
{
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.calendar-table .calendar-day.today
{
    color: red;
}

.calendar-table .calendar-day.weekend
{
    background-color: lightGray;
}

.calendar-table .calendar-day.selected
{
    background-color: darkGray;
    color: white;
    font-weight: bold;
}

.time-content
{
    text-align: center;
    margin-top: 6px;
}

.time-content > input.hour-field,
.time-content > input.minute-field
{
    width: 36px;
    padding-left: 6px;
}

/* Webkit browsers misbehaves. Don't know why. */
.ext-webkit .time-content > input.hour-field,
.ext-webkit .time-content > input.minute-field
{
    width: 60px;
}