/* list view */
li.more .button
{
    height: 40px;
    line-height: 40px;
}

li.more-loading .whiteButton span
{
    background: url('../images/loading-indicator-gray.gif') no-repeat scroll 0 50%;
    padding: 0 0 0 20px;
    color: #999999;
}

li.loading
{
    text-align: center;
}

li.loading .loading-indicator
{
    background: url('../images/loading-indicator-white.gif') no-repeat scroll 0 50%;
    padding: 0 0 0 20px;
	display: inline-block;
}

li.loading
{
	text-align: center;
}

li.loading .loading-indicator
{
	display: inline-block;
}

/* detail veiw */
fieldset.loading .loading-indicator
{
	background: url('../images/loading-indicator-gray.gif') no-repeat scroll 0 50%;
	padding: 0 0 0 20px;
}

fieldset.loading .row
{
	text-align: center !important;
	padding: 1em !important;
	min-height: 1em !important;
}

fieldset.loading .loading-indicator
{
	display: inline-block;
}

/* floating toolbar */
body > div.toolbar-float[open],
body[orient] > div.toolbar-float[open]
{
	background-image: url('../images/arrow-right-black.png'), -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #e6e6e6),
		color-stop(1, #cccccc)
	);
	background-image: url('../images/arrow-right-black.png'), -moz-linear-gradient(top, #e6e6e6, #cccccc);

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.toolbar-float
{
	background-image: url('../images/arrow-left-black.png'), -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #e6e6e6),
		color-stop(1, #cccccc)
	);
	background-image: url('../images/arrow-left-black.png'), -moz-linear-gradient(top, #e6e6e6, #cccccc);

	background-position: 6px center, top left;
	background-repeat: no-repeat, no-repeat;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;

    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;

    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: #000;
    cursor: pointer;

    color: #000;

    text-shadow: rgba(255,255,255,1) 1px 1px 0;

    -moz-box-shadow: rgba(255,255,255,1.0) 0px 0px 1px inset, rgba(255,255,255,0.6) 0px 1px 1px inset, rgba(0,0,0,0.75) 0px 0px 4px;
    -webkit-box-shadow: rgba(255,255,255,1.0) 0px 0px 1px inset, rgba(255,255,255,0.6) 0px 1px 1px inset, rgba(0,0,0,0.75) 0px 0px 4px;
}

.toolbar-float-container
{
    height: 46px;
}

.toolbar-float-container a
{
    color: #fff;
}

.toolbar-float-container a span
{
    display: none;
}

.tool-note
{
    margin-bottom: 3px;
}

/* busy */
.dialog-busy .blueButton,
.toolbar-busy .blueButton
{
	
}

.dialog-busy .button.actionButton
{
    background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(42,101,80)),
		color-stop(1, rgb(6,74,52))
	);
	background: -moz-linear-gradient(
		center bottom,
		rgb(42,101,80) 0%,
		rgb(6,74,52) 100%
	);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.dialog-busy .button.actionButton span,
.toolbar-busy .button.actionButton span
{
	background: url('../images/loading-indicator-green.gif') no-repeat scroll 0 50%;
	padding: 0 0 0 20px;
}

.dialog-busy .whiteButton.actionButton
{
    background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #e6e6e6),
		color-stop(1, #cccccc)
	);
	background-image: -moz-linear-gradient(bottom, #e6e6e6, #cccccc);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.dialog-busy .whiteButton.actionButton span,
.toolbar-busy .whiteButton.actionButton span
{
	background: url('../images/loading-indicator-gray.gif') no-repeat scroll 0 50%;
	padding: 0 0 0 20px;
}

.dialog-busy .blueButton.actionButton
{
    background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #2ca0d1),
		color-stop(1, #07a)
	);
	background-image: -moz-linear-gradient(bottom, #2ca0d1, #07a);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.dialog-busy .blueButton.actionButton span,
.toolbar-busy .blueButton.actionButton span
{
	background: url('../images/loading-indicator-blue.gif') no-repeat scroll 0 50%;
	padding: 0 0 0 20px;
}

.dialog-busy .redButton.actionButton
{
    background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #de6464),
		color-stop(1, #b33737)
	);
	background-image: -moz-linear-gradient(bottom, #de6464, #b33737);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.dialog-busy .redButton.actionButton span,
.toolbar-busy .redButton.actionButton span
{
	background: url('../images/loading-indicator-red.gif') no-repeat scroll 0 50%;
	padding: 0 0 0 20px;
}

.dialog-busy input,
.view-busy input
{
	
}