/* fixes */
/* http://code.google.com/p/android/issues/detail?id=6059 */
.android-6059-fix
{
    text-decoration: none;
    display: block;
    overflow: hidden;
    color: transparent;
    height: 1px;
    width: 1px;
    cursor: default;
}

/* general */
html, body
{
    height: 100%;
    margin: 0;
}

h3
{
	font-size: .75em;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

h4
{
	font-size: .5em;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

img
{
	border: none 0 black;
}

/* button */
.button
{
	height: 30px;
	line-height: 30px;
	padding: 0 2px 0 2px;
}

/* dojo mobile: themes/common/FixedSplitter.css */
.mblFixedSpliter {
	width: 100%;
	height: 100%;
}
.mblFixedSplitterPane {
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
}
.mblFixedSplitterPaneH {
	position: absolute;
	height: 100%;
	top: 0px;
}
.mblFixedSplitterPaneV {
	position: absolute;
	width: 100%;
	left: 0px;
}
/* dojo mobile: themes/common/FixedSplitter.css */

/* layout */
.layout-left
{
    width: 50px;
    z-index: 100;
}

.layout-center
{
    width: 400px;
    z-index: 75;
}

.layout-right
{
    z-index: 50;
}

/* toolbar */
.toolbar
{
    position: absolute;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    width: 100%;
    padding: 4px 4px;

    display: block;
    z-index: 10;
}

.toolbar-top
{
    top: 0;
    left: 0;
    height: 45px;
}

.toolbar-bottom
{
    bottom: 0;
    left: 0;
    height: 45px;
}

.toolbar-right
{
    top: 0;
    right: 0;
    width: 45px;
    height: 100%;
}

.toolbar-left
{
    top: 0;
    left: 0;
    width: 45px;
    height: 100%;
}

.toolbar > h1 {
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 34px;
    font-weight: normal;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;

    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 0;
}

.toolbar[data-tool-count="1"] > h1
{
    left: 50px;
    right: 50px;
}

.toolbar[data-tool-count="2"] > h1
{
    left: 100px;
    right: 100px;
}

.tool-button
{
    position: relative;
    width: 34px;
    height: 34px;
    padding: 0px;
    z-index: 100;
}

.tool-button > span
{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 4px;
    width: 24px;
    height: 24px;
}

.toolbar > .on-left
{
    float: left;
    margin-right: 10px;
}

.toolbar > .on-right
{
    float: right;
    margin-left: 10px;
}

/* view */
.view
{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    width: 100%;
}

.is-visible
{
    display: block;
}

/* list */
.scroll-container
{
    z-index: 1;
    position: absolute;
    top: 45px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    /*
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    */

    overflow: auto;
}

.has-toolbar-top > .scroll-container
{
    top: 45px !important;
}

.has-toolbar-bottom > .scroll-container
{
    bottom: 45px !important;
}

.has-search-header > .scroll-container
{
    top: 45px !important;
}

.has-toolbar-top.has-search-header > .scroll-container
{
    top: 90px !important;
}

.scroll-content
{
    position: absolute;
    width: 100%;
}

.list-content
{
    margin: 0;
    padding: 0;
}

.list-content > li
{
    font-size: 1.25em;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 8px 32px 8px 36px;
    /* position: relative; */
    border-bottom: solid 1px #ddd;
    cursor: pointer;
}
.list-content > li:last-child
{
    border-bottom: none;
}

.list-content > li > img.icon,
.list-content > li > * > img.icon
{
    border: none 0 black;
    margin: 0 .5em 0 0;
    width: 24px;
    height: 24px;
    float: left;
}

.list-content > li > a
{
    padding: 8px 32px 8px 36px;
}

.list-content > li > .item
{
    font-weight: normal;
}

.list-content > li > input.list-selector
{
    float: left;
    margin: 2px 0 0 0px;
}

.list-more,
.list-empty
{
    display: none;
    padding: 12px;
    border-bottom: 1px solid #DDD;
}

.list-more > .button,
.list-empty > .button
{
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: .9em;
}

.list-more > .list-remaining
{
    display: none;
}

.list-content > .loading-indicator
{
    display: none;
}

.has-more .list-more,
.has-empty .list-empty
{
    display: block;
}

.has-more .list-more > .button,
.has-empty .list-empty > .button
{
    width: 100%;
}

.has-more .list-remaining
{
    display: block;
    text-align: center;
    padding: 0px 0 12px 0;
    font-size: .8em;
    font-weight: bold;
}

.is-loading .list-content > .loading-indicator
{
    display: block;
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
    padding: 1em;
}

.is-loading .list-content > .loading-indicator > div
{
	display: inline-block;
    text-align: center;
}

.list-grouped .list-content > h2
{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0 0 0 6px;
    font-size: 1em;
    z-index: 5;
    position: relative;
}

.list-grouped .list-content > ul
{
    margin: 0;
    padding: 0 0 1.5em 0;
}

.list-grouped .list-content > ul:last-child
{
    margin: 0;
    padding: 0 0 0 0;
}

/* search */
.search-header
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: none;
    height: 45px;
    padding: 6px;
    z-index: 5;
}

.search-header > input
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 32px;
    margin: 0 !important;
    width: 100%;
}

.search-header > .search-button
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    display: inline-block;
    height: 32px;
    width: 64px;
    right: 6px;
    top: 6px;
    border: solid 1px black;
}

.search-header > .search-clear {
    position: absolute !important;
    right: 70px;
    margin: 1px 1px 0 0 !important;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index:101;
    width:30px;
    height:30px;
}

.search-header > .clear-button
{
    right: 70px;
}

.search-header > label
{
    position: absolute;
    top: 6px;
    left: 6px;
}

.search-active > label
{
    display: none;
}

.search-active > .dismiss-button
{
    display: block;
}

.has-search-header > .search-header
{
    display: block;
    position: absolute;
    top: 45px;
    width: 100%;
}

/* detail */
.detail-content > h2
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0 0 0 6px;
    font-size: 1em;
    z-index: 5;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.detail-content > ul > li
{
    list-style: none;
    line-height: 28px;
    clear: both;
}

.detail-validation-summary > ul > li
{
    list-style: none;
    clear: both;
}

.detail-content > ul > li > img.icon,
.detail-content > ul > li > * > img.icon
{
    border: none 0 black;
    margin: 0 .5em 0 0;
    width: 24px;
    height: 24px;
    float: left;
}

.detail-content > div,
.detail-content > ul
{
    margin: 0;
    padding: 0 0 1.5em 0;
}

.detail-content > ul:last-child,
.detail-content > div:last-child
{
    margin: 0;
    padding: 0 0 0 0;
}

.detail-content > ul > li
{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.detail-content > ul > li > a
{
    padding: 8px;
    margin: 0px;
    display: block;
}

.row > div > label,
.row > label
{
	margin: 0px;
	padding: 0;
	position: relative;
	float: left;
	width: 100px;
	text-align: right;
	font-size: 0.8em;
}

.row
{
	text-align: left;
	clear: both;
    line-height: 1.5em;
    padding: 0 .75em;
}

.row > div > span,
.row > div > a,
.row > span,
.row > a
{
	display: block;
	margin: 0 0 0 0;
	padding: 0 0 0 12px;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
}

.row > * > a
{
    border-bottom: 1px dotted #00338D;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.not-available
{
    text-align: center;
    padding: 8px 32px 8px 36px !important;
    font-size: 1.25em;
}

.no-data
{
	text-align: center;
}

.collapsed
{
    margin-bottom: -1px !important;
}

h2 > .collapsed-indicator
{
    height: 30px;
    width: 30px;
    float: right;
    margin: 0 4px 0 0;
}

.collapsed > .collapsed-indicator
{

}

.collapsed + ul,
.collapsed + div
{
    display: none !important;
}

.action-list > li > a.disabled
{
    opacity: 0.3;
}

.action-list > ul > li > a
{
    text-overflow: ellipsis;
}

.action-list > li
{
    line-height: 1em !important;
    cursor: pointer !important;
}

.action-list > li > a > label
{
    cursor: pointer !important;
    display: block;
    line-height: inherit;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.action-list > li > a > span
{
    display: block;
    font-size: 0.75em;
    min-height: 1em;
    line-height: inherit;
    padding: 2px 0 0 0;
    color: #777;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.detail-content > .loading-indicator
{
    display: none;
}

.is-loading .detail-content > *
{
    display: none;
}

.is-loading .detail-content > .loading-indicator
{
    display: block;
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
    padding: 1em;
}

.is-loading .detail-content > .loading-indicator > div
{
	display: inline-block;
    text-align: center;
}