*
{
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body
{
	font-family: Helvetica, Arial;
	background: #fbfdf0;
	color: #000;
}

h3
{
    font-size: 1em;
    font-weight: normal;
}

h4
{
    color: #00338D;
    font-weight: normal;
    font-size: .75em;
}

h5
{
    margin: 0;
    padding: 0;
    font-size: .8em;
    font-weight: normal;
}

input:not([type|=radio]):not([type|=checkbox]) {
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    margin: 0 0 8px 0;
    padding: 6px 6px 6px 44px;
    font-size: 16px;
    font-weight: normal;
    border: 1px solid #000;
}

input:focus,
textarea:focus
{
	outline: none;
	background-color: #fff; /* #FDFFDD */;
}

/* layout */
.layout-left
{
    /*
    background: #ff9900;
    */

    background-color: #e6e6e6;
    background-image: linear-gradient(left, #e6e6e6, #cccccc);
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #e6e6e6),
        color-stop(1, #cccccc)
    );

    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 0px 3px;
    -moz-shadow: rgba(0, 0, 0, 0.5) 2px 0px 3px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 0px 3px;
}

.layout-center
{
    /*
    background: #99ff00;
    background: #fff;
    */

    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 0px 3px;
    -moz-shadow: rgba(0, 0, 0, 0.5) 2px 0px 3px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 0px 3px;
}

.layout-right
{
    /*
    background: #0099ff;
    background: #fbfdf0;
    */
}

/* toolbar */
.toolbar
{
    border-bottom: 1px solid #3c4f18;
    border-top: 1px transparent #3c4f18;
    background-color: #c0d298;
    /* was 0,39,39,100 */
    background-image: linear-gradient(
        center top,
        #dae6c6 0%,
        #d1e0b7 50%,
        #cbdcae 50%,
        #c1d59f 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #dae6c6),
        color-stop(0.50, #d1e0b7),
        color-stop(0.50, #cbdcae),
        color-stop(1, #c1d59f)
    );
    background-image: -moz-linear-gradient(
        center top,
        #dae6c6 0%,
        #d1e0b7 50%,
        #cbdcae 50%,
        #c1d59f 100%
    );
    box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;

    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dae6c6, endColorstr=#c1d59f)";
}

.toolbar > h1
{
	color: #000;
    text-shadow: #fff 0px 1px 0px;
}

.toolbar > .button
{
    box-shadow: rgba(255,255,255,0.75) 0px 0px 3px inset;
    -moz-box-shadow: rgba(255,255,255,0.75) 0px 0px 3px inset;
    -webkit-box-shadow: rgba(255,255,255,0.75) 0px 0px 3px inset;
}

/* view */
.view
{
    color: #000;
    background: #fff;

    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* list */
.list
{
    background: #fbfdf0;
}

.list > .scroll-container > .scroll-content
{
    /* background-color: #fff; */
    border: none 0px black;
    /* border-bottom: solid 1px #ddd; */
}

.list-content,
.list-empty,
.list-more
{
    background-color: #fff;
}

.list-content > li
{
    border-color: #ddd;
    border-style: solid;
}

.is-loading .list-more > .button > span
{
    background: url('../images/loading-indicator-gray.gif') no-repeat scroll 0 50%;
    padding: 0 0 0 20px;
    color: #555;
}

.is-loading .list-content > .loading-indicator > div
{
    background: url('../images/loading-indicator-white.gif') no-repeat scroll 0 50%;
    padding: 0 0 0 20px;
}

.list-grouped .list-content > h2
{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    background-color: #e6e6e6;
    background-image: linear-gradient(top, #e6e6e6, #cccccc);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #e6e6e6),
        color-stop(1, #cccccc)
    );
    background-image: -moz-linear-gradient(top, #e6e6e6, #cccccc);
    /*
    box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    */
    color: #000;
    text-shadow: #fff 0px 1px 0px;
    font-weight: bold;
}

.list-grouped .list-content > h2:first-of-type
{
    border-top: solid 1px #e6e6e6;
}

.list-grouped .list-content > ul:last-child
{
    margin: 0;
    padding: 0 0 0 0;
}

.list-grouped .list-content > ul > li:last-child
{
    /* border-bottom: none 0 black; */
}

/* search */
.search-header
{
    background-color: #e6e6e6;
    background-image: linear-gradient(top, #e6e6e6, #cccccc);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #e6e6e6),
        color-stop(1, #cccccc)
    );
    background-image: -moz-linear-gradient(top, #e6e6e6, #cccccc);
    border-bottom: 1px solid black;
    border-top: 1px solid transparent;

    box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
}

.search-header > input
{
    font-size: 0.9em;
    line-height: 30px;
    z-index: 5;

    /* these are marked !important due to Chrome CSS fix */
    /* todo: needed still? */
    padding: 0 128px 0 5px !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border: solid 1px #000 !important;
    background: #fff;

    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.search-header > .search-button
{
    cursor: pointer;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    font-size: 0.9em;
    line-height: 30px;
    padding: 0 8px 0 6px;
    border: solid 1px #000;
    text-align: center;
    z-index: 100;
}

.search-header > label
{
    color: #aaa;
    font-size: 0.9em !important;
    line-height: 32px;
    padding: 0 8px 0 6px;
    font-weight: normal;
}

.search-active > .search-clear
{
    background: url('../images/delete.png') no-repeat 50% 50%;
}

/* detail */
.detail
{
    background: #fbfdf0;
}

.detail > .scroll-container > .scroll-content
{
    background-color: #fff;
    border: none 0px black;
    border-bottom: solid 1px #ddd;
}

.detail-content > h2
{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    background-color: #e6e6e6;
    background-image: linear-gradient(top, #e6e6e6, #cccccc);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #e6e6e6),
        color-stop(1, #cccccc)
    );
    background-image: -moz-linear-gradient(top, #e6e6e6, #cccccc);
    /*
    box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    */
    color: #000;
    text-shadow: #fff 0px 1px 0px;
    font-weight: bold;

    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6e6e6, endColorstr=#cccccc)";
}

.detail-content > h2:first-of-type
{
    border-top: solid 1px #e6e6e6;
}

.detail-content > div
{
    border: none 0px black;
}

.detail-content > ul
{
    border: none 0px black;
    background-color: #fff;
}

.detail-content > ul > li
{
    border-top: solid 1px #ddd;
    cursor: pointer;
}

.detail-content > ul > li:first-child
{
    border-top: none 0 black;
}

.detail-content > ul a
{
    color: inherit;
    text-decoration: none;
}

.detail-content > div > .row
{
    padding: .25em;
    min-height: 1.5em;
    border-top: solid 1px #ddd;
}

.detail-content > div > .row:first-child
{
    border-top: none 0px black;
}

.detail-content > div > .row > div > label,
.detail-content > div > .row > label
{
    font-weight: bold;
    color: #0079A7;
}

.is-loading .detail-content > .loading-indicator > div
{
    background: url('../images/loading-indicator-white.gif') no-repeat scroll 0 50%;
    padding: 0 0 0 20px;
}

/* edit */
.edit
{
    background: #fbfdf0;
}

.edit > .scroll-container > .scroll-content
{
    background-color: #fff;
    border: none 0px black;
    border-bottom: solid 1px #ddd;
}

.edit-content > h2
{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    background-color: #e6e6e6;
    background-image: linear-gradient(top, #e6e6e6, #cccccc);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #e6e6e6),
        color-stop(1, #cccccc)
    );
    background-image: -moz-linear-gradient(top, #e6e6e6, #cccccc);
    /*
    box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    */
    color: #000;
    text-shadow: #fff 0px 1px 0px;
    font-weight: bold;

    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6e6e6, endColorstr=#cccccc)";
}

.edit-content > h2:first-of-type
{
    border-top: solid 1px #e6e6e6;
}

.edit-content > fieldset,
.edit-content > div
{
    border: none 0px black;
}

.edit-content > ul,
.edit .validation-summary > ul
{
    border: none 0px black;
    background-color: #fff;
}

.edit-content > ul > li,
.edit .validation-summary > ul > li
{
    border-top: solid 1px #ddd;
    cursor: pointer;
}

.edit-content > ul > li:first-child,
.edit .validation-summary > ul > li:first-child
{
    border-top: none 0 black;
}

.edit-content > ul a
{
    color: inherit;
    text-decoration: none;
}

.edit-content > fieldset > .row,
.edit-content > div > .row
{
    padding: .25em;
    min-height: 1.5em;
    border-top: solid 1px #ddd;
}

.edit-content > fieldset > .row:first-child,
.edit-content > div > .row:first-child
{
    border-top: none 0px black;
}

.edit-content > fieldset > .row > div > label,
.edit-content > fieldset > .row > label,
.edit-content > div > .row > div > label,
.edit-content > div > .row > label
{
    font-weight: bold;
    color: #0079A7;
}

.edit-content > fieldset > .row-edit > div > textarea,
.edit-content > fieldset > .row-edit > textarea,

{
    font-family: Helvetica, Arial;
    font-size: 16px;
}

.edit-content > fieldset > .row-edit > div > input:focus,
.edit-content > fieldset > .row-edit > div > textarea:focus,
.edit-content > fieldset > .row-edit > input:focus,
.edit-content > fieldset > .row-edit > textarea:focus
{
    box-shadow: 0 0 5px #f0ac55 !important;
    -webkit-box-shadow: 0 0 5px #f0ac55 !important;
    -moz-box-shadow: 0 0 5px #f0ac55 !important;
}

.edit-content > fieldset > .row-edit
{
    border-top: solid 1px #ddd;
}

.edit-content > fieldset > .row-edit:first-of-type
{
    border-top: none 0 black;
}

.edit .validation-summary > h2
{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    background-color: #de6464;
    background-image: linear-gradient(top, #de6464, #b33737);
    background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #de6464),
		color-stop(1, #b33737)
	);
	background-image: -moz-linear-gradient(top, #de6464, #b33737);
    color: #fff;
    text-shadow: #000 0px 1px 0px;
    font-weight: bold;

    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#de6464, endColorstr=#b33737)";
}

.edit .validation-summary > h2:first-child
{
    border-top: solid 1px #de6464;
}

.edit .validation-summary > fieldset,
.edit .validation-summary > div
{
    border: none 0px black;
}

.edit.has-error .edit-content > h2:first-child
{
    border-top: 1px solid #000;
}

.edit .loading-indicator
{
    background: #fff;
    border: none 0px black;
}

.edit .loading-indicator > div
{
    background: url('../images/loading-indicator-white.gif') no-repeat scroll 0 50%;
    padding: 0 0 0 20px;
}

.text-field-active > .clear-button
{
    background: url('../images/delete.png') no-repeat 50% 50%;
}

.row-edit[data-field-type="camera"] > div > .button
{
    margin: 0;
    padding: 0 8px;
    position: absolute;
    right: 4px;
}

body.landscape .datetime-picker
{
    width: 100%;
    text-align: center;
}

body.landscape .datetime-picker > .calendar-content,
body.landscape .datetime-picker > .time-content
{
    display:inline-block;
    padding: 0 !important;
}
body.landscape .datetime-picker > .time-content
{
    margin-left: 18px;
}

.datetime-picker
{
    padding-bottom: 2em;
}

.datetime-picker > .time-content-hidden
{
    display: none !important;
}
.datetime-picker > .calendar-content > table,
.datetime-picker > .time-content > table
{
    border-spacing: 6px 0px;
    padding: 2px;
    margin: 0.5em auto 0;
    text-align:center;
}
.datetime-picker > .calendar-content
{
    padding-bottom: 0;
}

.datetime-picker table caption { padding: 4px; }
.ext-webkit .datetime-picker table caption { width: 100%; } /* Webkit caption does not match table width by default */
.datetime-picker td
{
    padding: 0;
    margin: 0;
    border: 0;
    text-align:center;
    width: 64px;
}
.datetime-picker td>select {
    font-size: 1.5em;
    height: 34px;
    line-height: 34px;
    border: none;
    margin: 0;
    padding:0;
    -webkit-appearance: listbox;
    -moz-appearance: listbox;
    appearance: listbox;
    position: relative; /* Fix android browser issue with -webkit-transform blocking <select> */
}
.datetime-picker .datetime-selects td {
    border: none;
    border-left: 1px solid #b3b3b3;
    border-right: 1px solid #b3b3b3;
}
.datetime-picker td>button {
    display: block;
    font-size: 1.5em;
    width: 100%;
    margin: 0;
    height: 46px;
    line-height: 44px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.datetime-picker .plus > td > button
{
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}
.datetime-picker .minus > td > button
{
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
}
.datetime-picker .datetime-tt {
    border: none !important;
}

.signature-view > .signature-canvas
{
    border-bottom: 1px black solid;
}

.field-collection-entry > .list-content
{
    border: solid 1px #DDD;
}

.field-collection-entry.has-items > .edit-content
{
    border-top: solid 1px #DDD;
}

.field-collection-entry > .list-content > li:last-child
{
    border-bottom: none 0px;
}

.field-collection-entry > .edit-content > div > .row:first-child
{
    border-top: solid 1px #DDD;
}

.field-collection-entry > .edit-content
{
    border-bottom: solid 1px #DDD;
}

.field-collection-entry.has-invalid-entry > .edit-actions > .action-button[data-action="add"]
{
    opacity: 0.25;
}

/* button */
.button
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;

	color: #000;
	text-align: center;
	text-decoration: none;
    text-shadow: #fff 0px 1px 0px;

	font-weight: bold;
	font-size: .8em;

    border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    border-style: solid;
    border-width: 1px;
    border-color: #b3b3b3;

    cursor: pointer;

    background-color: #f2f2f2;
    background-image: linear-gradient(
        center top,
        #f2f2f2 0%,
        #e6e6e6 50%,
        #cccccc 50%,
        #e6e6e6 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #f2f2f2),
        color-stop(0.50, #e6e6e6),
        color-stop(0.50, #cccccc),
        color-stop(1, #e6e6e6)
    );
    background-image: -moz-linear-gradient(
        center top,
        #f2f2f2 0%,
        #e6e6e6 50%,
        #cccccc 50%,
        #e6e6e6 100%
    );
    box-shadow: rgba(255,255,255,1.0) 0px 0px 1px inset;
    -moz-box-shadow: rgba(255,255,255,1.0) 0px 0px 1px inset;
    -webkit-box-shadow: rgba(255,255,255,1.0) 0px 0px 1px inset;

    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;

    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2f2f2, endColorstr=#e6e6e6)";*/
}

.button:active
{
    background-color: #e6e6e6;
    background-image: linear-gradient(
        center top,
        #f2f2f2 0%,
        #e6e6e6 100%,
        #cccccc 100%,
        #e6e6e6 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #f2f2f2),
        color-stop(1, #e6e6e6),
        color-stop(1, #cccccc),
        color-stop(1, #e6e6e6)
    );
    background-image: -moz-linear-gradient(
        center top,
        #f2f2f2 0%,
        #e6e6e6 100%,
        #cccccc 100%,
        #e6e6e6 100%
    );
}

.task-button,
.blue-button
{
    color: #fff;
    text-shadow: #000 0px 1px 0px;

    border-color: #002838;

    background-color: #00a1de;
    background-image: linear-gradient(
        center top,
        #00a1de 0%,
        #0079a7 50%,
        #00516f 50%,
        #0079a7 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #00a1de),
        color-stop(0.50, #0079a7),
        color-stop(0.50, #00516f),
        color-stop(1, #0079a7)
    );
    background-image: -moz-linear-gradient(
        center top,
        #00a1de 0%,
        #0079a7 50%,
        #00516f 50%,
        #0079a7 100%
    );

    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00a1de, endColorstr=#0079a7)";
}

.task-button:active,
.blue-button:active
{
    background-color: #0079a7;
    background-image: linear-gradient(
        center top,
        #00a1de 0%,
        #0079a7 100%,
        #00516f 100%,
        #0079a7 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #00a1de),
        color-stop(1, #0079a7),
        color-stop(1, #00516f),
        color-stop(1, #0079a7)
    );
    background-image: -moz-linear-gradient(
        center top,
        #00a1de 0%,
        #0079a7 100%,
        #00516f 100%,
        #0079a7 100%
    );
}

.cancel-button,
.purple-button
{
    color: #fff;
    text-shadow: #000 0px 1px 0px;

    border-color: #421f34;

    background-color: #a44e81;
    background-image: linear-gradient(
        center top,
        #a44e81 0%,
        #833f67 50%,
        #632f4e 50%,
        #833f67 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #a44e81),
        color-stop(0.50, #833f67),
        color-stop(0.50, #632f4e),
        color-stop(1, #833f67)
    );
    background-image: -moz-linear-gradient(
        center top,
        #a44e81 0%,
        #833f67 50%,
        #632f4e 50%,
        #833f67 100%
    );

    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#a44e81, endColorstr=#833f67)";
}

.cancel-button:active,
.purple-button:active
{
    background-color: #833f67;
    background-image: linear-gradient(
        center top,
        #a44e81 0%,
        #833f67 100%,
        #632f4e 100%,
        #833f67 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #a44e81),
        color-stop(1, #833f67),
        color-stop(1, #632f4e),
        color-stop(1, #833f67)
    );
    background-image: -moz-linear-gradient(
        center top,
        #a44e81 0%,
        #833f67 100%,
        #632f4e 100%,
        #833f67 100%
    );
}

.tool-button,
.header-button,
.light-green-button
{
    color: #000;
    text-shadow: #fff 0px 1px 0px;

    border-color: #a4bf7d;

    background-color: #eaf1df;
    background-image: linear-gradient(
        center top,
        #eaf1df 0%,
        #d6e3bf 50%,
        #c1d59f 50%,
        #d6e3bf 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #eaf1df),
        color-stop(0.50, #d6e3bf),
        color-stop(0.50, #c1d59f),
        color-stop(1, #d6e3bf)
    );
    background-image: -moz-linear-gradient(
        center top,
        #eaf1df 0%,
        #d6e3bf 50%,
        #c1d59f 50%,
        #d6e3bf 100%
    );

    -moz-box-shadow: rgba(255,255,255,1.0) 0px 0px 1px inset;
    -webkit-box-shadow: rgba(255,255,255,1.0) 0px 0px 1px inset;

    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#eaf1df, endColorstr=#d6e3bf)";
}

.tool-button:active,
.header-button:active,
.light-green-button:active
{
    background-color: #d6e3bf;
    background-image: linear-gradient(
        center top,
        #eaf1df 0%,
        #d6e3bf 100%,
        #c1d59f 100%,
        #d6e3bf 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #eaf1df),
        color-stop(1, #d6e3bf),
        color-stop(1, #c1d59f),
        color-stop(1, #d6e3bf)
    );
    background-image: -moz-linear-gradient(
        center top,
        #eaf1df 0%,
        #d6e3bf 100%,
        #c1d59f 100%,
        #d6e3bf 100%
    );
}

.is-disabled
{
    opacity: 0.25;
}

.sub-header-button,
.white-button
{
    color: #000;
    text-shadow: #fff 0px 1px 0px;

    border-color: #b3b3b3;

    background-color: #f2f2f2;
    background-image: linear-gradient(
        center top,
        #f2f2f2 0%,
        #e6e6e6 50%,
        #cccccc 50%,
        #e6e6e6 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #f2f2f2),
        color-stop(0.50, #e6e6e6),
        color-stop(0.50, #cccccc),
        color-stop(1, #e6e6e6)
    );
    background-image: -moz-linear-gradient(
        center top,
        #f2f2f2 0%,
        #e6e6e6 50%,
        #cccccc 50%,
        #e6e6e6 100%
    );

    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2f2f2, endColorstr=#e6e6e6)";*/
}

.sub-header-button:active,
.white-button:active
{
    background-color: #e6e6e6;
    background-image: linear-gradient(
        center top,
        #f2f2f2 0%,
        #e6e6e6 100%,
        #cccccc 100%,
        #e6e6e6 100%
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #f2f2f2),
        color-stop(1, #e6e6e6),
        color-stop(1, #cccccc),
        color-stop(1, #e6e6e6)
    );
    background-image: -moz-linear-gradient(
        center top,
        #f2f2f2 0%,
        #e6e6e6 100%,
        #cccccc 100%,
        #e6e6e6 100%
    );
}

.simple-sub-header-button,
.non-gloss-white-button
{
    color: #000;
    text-shadow: #fff 0px 1px 0px;

    border-color: #b3b3b3;

    background-color: #e6e6e6;
    background-image: linear-gradient(top, #e6e6e6, #cccccc);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #e6e6e6),
        color-stop(1, #cccccc)
    );
    background-image: -moz-linear-gradient(top, #e6e6e6, #cccccc);

    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6e6e6, endColorstr=#cccccc)";*/
}

.simple-sub-header-button:active,
.non-gloss-white-button:active
{
    background-color: #cccccc;
    background-image: linear-gradient(bottom, #e6e6e6, #cccccc);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #e6e6e6),
        color-stop(1, #cccccc)
    );
    background-image: -moz-linear-gradient(bottom, #e6e6e6, #cccccc);
}