.layout-left
{
    background: #ff9900;
}

.layout-center
{
    background: #99ff00;
}

.layout-right
{
    background: #0099ff;
}

.toolbar
{
    /* background: #99ff99; */
    background: #fff;
}

.view
{
    color: #fff;
}
